n8n-workflows/workflow2-on-demand-query.json
{
  "name": "Workflow 2 – On-Demand Query (/ask)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ask",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "POST /ask Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "rag-ask-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nif (!body.question) {\n  return [{\n    json: {\n      _validationError: true,\n      errorMessage: 'Missing required field: question',\n      statusCode: 400\n    }\n  }];\n}\nreturn [{\n  json: {\n    question: body.question,\n    user_id: body.user_id || 'anonymous',\n    top_k: body.top_k || 5,\n    source: body.source || null,\n    provider: body.provider || null,\n    stream: false\n  }\n}];"
      },
      "id": "node-validate",
      "name": "Validate & Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json._validationError }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "node-validate-check",
      "name": "Has Validation Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.errorMessage }) }}",
        "options": { "responseCode": 400 }
      },
      "id": "node-respond-validation-error",
      "name": "Respond – Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/query",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ question: $json.question, user_id: $json.user_id, top_k: $json.top_k, source: $json.source, provider: $json.provider, stream: false }) }}",
        "options": { "timeout": 120000, "response": { "response": { "fullResponse": true } } }
      },
      "id": "node-rag-query",
      "name": "Call RAG /query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $json.statusCode }}", "rightValue": 200, "operator": { "type": "number", "operation": "equals" } }
          ]
        }
      },
      "id": "node-check-success",
      "name": "Query Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.body) }}",
        "options": { "responseCode": 200 }
      },
      "id": "node-respond-success",
      "name": "Respond – Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Query failed', detail: $json.body?.detail || 'Unknown error' }) }}",
        "options": { "responseCode": 500 }
      },
      "id": "node-respond-error",
      "name": "Respond – Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "POST /ask Webhook": { "main": [[{ "node": "Validate & Extract", "type": "main", "index": 0 }]] },
    "Validate & Extract": { "main": [[{ "node": "Has Validation Error?", "type": "main", "index": 0 }]] },
    "Has Validation Error?": {
      "main": [
        [{ "node": "Respond – Validation Error", "type": "main", "index": 0 }],
        [{ "node": "Call RAG /query", "type": "main", "index": 0 }]
      ]
    },
    "Call RAG /query": { "main": [[{ "node": "Query Succeeded?", "type": "main", "index": 0 }]] },
    "Query Succeeded?": {
      "main": [
        [{ "node": "Respond – Success", "type": "main", "index": 0 }],
        [{ "node": "Respond – Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false },
  "id": "wf-on-demand-query-002",
  "tags": [{ "name": "rag" }]
}
